In [1]:
import pandas as pd 
from sklearn.decomposition import TruncatedSVD

In [2]:
df=pd.read_csv('google_books_1299.csv')
#df=df.drop('Unnamed: 0',axis=1)

In [3]:
df.head(2)

,Unnamed: 0,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date
0,0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014"
1,1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"

In [4]:
df.isnull().sum()

Unnamed: 0         0
title              0
author             0
rating            75
voters            75
price              0
currency           0
description        3
publisher          0
page_count         0
generes            0
ISBN               0
language           0
published_date     0
dtype: int64

In [5]:
df.shape

(1299, 14)

In [6]:
df=df[~(df['description'].isnull())]

In [7]:
df.shape

(1296, 14)

In [8]:
df.isnull().sum()

Unnamed: 0         0
title              0
author             0
rating            75
voters            75
price              0
currency           0
description        0
publisher          0
page_count         0
generes            0
ISBN               0
language           0
published_date     0
dtype: int64

In [9]:
df['rating'].fillna(df['rating'].mean(),inplace=True)

In [10]:
df['voters'].fillna(df['voters'].mode()[0],inplace=True)

In [11]:
df['published_date'][0][-4:]

'2014'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1296 entries, 0 to 1298
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1296 non-null   int64
 1   title           1296 non-null   object
 2   author          1296 non-null   object
 3   rating          1296 non-null   float64
 4   voters          1296 non-null   object
 5   price           1296 non-null   float64
 6   currency        1296 non-null   object
 7   description     1296 non-null   object
 8   publisher       1296 non-null   object
 9   page_count      1296 non-null   int64
 10  generes         1296 non-null   object
 11  ISBN            1296 non-null   object
 12  language        1296 non-null   object
 13  published_date  1296 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 191.9+ KB

In [13]:
books_matrix = df.pivot_table(index='Unnamed: 0',columns = 'title', values = 'rating').fillna(0)
books_matrix.shape #(28554, 794)
books_matrix.head()

title,'Salem's Lot,10 Ways to be annoying,10 Ways to be less consumerist,15 Delicious Slow Cooker Recipes,A Crown of Swords: Book Seven of 'The Wheel of Time',A Dance with Dragons: A Song of Ice and Fire: Book Five,"A Feast for Crows (A Song of Ice and Fire, Book 4)",A Forge of Valor (Kings and Sorcerers--Book 4),A Game of Thrones: A Song of Ice and Fire: Book One,"A Game of Thrones: The Story Continues Books 1-5: A Game of Thrones, A Clash of Kings, A Storm of Swords, A Feast for Crows, A Dance with Dragons (A Song of Ice and Fire)",...,Watchmen (2019 Edition),We,We Should All Be Feminists,Wedge's Gamble: Star Wars Legends (X-Wing),Why We Sleep: The New Science of Sleep and Dreams,Working With You is Killing Me: Freeing Yourself from Emotional Traps at Work,Wrecking Ball (Diary of a Wimpy Kid Book 14),You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life,You'll Never See Daylight Again,Young Justice Vol. 1
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
X = books_matrix.values.T
X.shape

(243, 1296)

In [15]:
X = books_matrix.values.T
X.shape
#Fitting the Model
SVD = TruncatedSVD(n_components=12, random_state=0)
matrix = SVD.fit_transform(X)
matrix.shape #(812, 12)

(243, 12)

In [16]:
import warnings
import numpy as np 
corr = np.corrcoef(matrix)
corr.shape

(243, 243)

In [17]:
def get_book(book,threshold):
    title = books_matrix.columns
    title_list = list(title)
    samia = title_list.index(book)
    corr_samia  = corr[samia]
    print(list(title[(corr_samia >= threshold)]))

In [18]:
get_book('Attack on Titan: Volume 13',0.65)

['A Dance with Dragons: A Song of Ice and Fire: Book Five', 'Attack on Titan: Volume 13', 'Marvel Universe Vs. The Punisher: Volume 1', 'Rework', 'Shattered Bonds', 'The Secrets of Saving and Investing with Alvin Hall: Simple Strategies to Make Your Money Go Further']